body, html {
    width: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin:0;
}
.navbar-nav.navbar-center {
      position: sticky;
}
.navbar-light {
    background-color: #f7efe5 !important;
}
.footer {
    background-color: #EAD8C0!important;
    
}
.carousel-item img {
  width: 100%;
  height: 56.25vw; /* 16:9 aspect ratio (9 / 16 * 100) */
  max-height: 100vh; /* Full viewport height */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}
.navbar-nav .nav-link  {
    color:#88413c;
    padding-bottom: 0.2rem; /* Adjust the padding as needed */
    border-bottom: 4px solid transparent; /* Add a transparent underline */
    transition: border-color 0.6s ease; /* Smooth transition for underline color */
}
.navbar-nav .nav-link:hover,
    .navbar-nav .nav-item.dropdown:hover .nav-link {
    border-color:  #88413c; 
  }
.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem; /* Adjust padding for dropdown items */
    color:#88413c;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #88413c;
    color:#fff;
}
.bestsellers{
    height: auto;
    display: flex;
    flex-direction: column;
}
.bestsellers>h2{
   margin-top:1em;
   margin:auto;
   text-align: center;
   width:15%;

}
.bestsellers>h2:hover{
    transition-duration:0.1s;
}

.bestseller-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;

}
.bestseller{
    display: flex;
    flex-direction: column;
    width:25%;
    margin:1em;
    transition-duration: 0.3s;
    border:1px solid white;
    cursor: pointer;
}
.bestseller>img{
    width:100%;  
}
.bestseller{
    align-items: center;
}
.bestseller>h5, .bestseller>p, .bestseller>span,.bestseller>button{
    margin: 10px;
    
}  
.bestseller .name{
    font-size:15px;
}
@media screen and (max-width:300px){
    .bestseller>.name {
        font-size:10px;
    }
}
.bestseller:hover{
    transform: translateY(-6px);
    transition-duration: 0.5s;
    box-shadow: 0 0 2px 5px #cc9692;
}
.fa-solid{
color: gold;
}
.fa-cart-shopping   {
    color: #88413c !important;
}
.navbar-brand{
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}  
.heading{
    text-align: center;
}
.texts{
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 20px;;
    font-size: smaller; 
    font-family:'Times New Roman', Times, serif;
}  
.image-container{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 30px;
}
.photo1{
    position: absolute;
    top: 20px;
    left: 70px;  
}
.photo2{
    position: relative;
    top: 10px;
    left: 250px; 
}
#shop{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: #393939;;
} 
.lead{
    font-family: Montserrat;
}
.featurette{
padding: 50px;
}
#kontakto{
    display: flex; 
    align-items:center;
    flex-direction: column;
 
}
#kontakto h2{
    padding-bottom:30px;
}
.buttoni{
    padding:10px;
    background-color:#6b3431;
    color:white;
    margin-bottom: 20px;
}
.buttoni:hover{
    background-color:#411e1c;
    color:white;
}

.add-to-cart-btn {
    background-color: #6b3431;
    color: #fff;
    font-size: 16px;
    border: none;
    width:50px;
    height:32px;
    margin-bottom:0;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #411e1c;
}
.btn-group a{
    padding:10px;
    background-color:#EAD8C0;
    color:#411e1c; 
    text-decoration:none;
    border-bottom: #411e1c;
}
.btn-group a:hover{
    background-color:rgb(202, 178, 147);
}
.face-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.body-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}
.cart-quantity{
    color: #88413c !important;
    background-color: #cc9692;
    border-radius: 50%;
    padding: 4px; 
}